* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    color: #333;
}

/* Navbar */
.navbar {
    background-color: #ffffff;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0045a0;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Dropdown container */


/* Dropdown button */
.dropbtn {
    background-color: #e4e9e5;
    color: rgb(0, 43, 124);
    padding: 6px 18px;
    font-size: 16px;
    border: black;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    /* push dropdown below the button */
    left: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 5px;
    overflow: hidden;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect */
.dropdown-content a:hover {
    background-color: #e0e7ff;
}


.signin-btn {
    background-color: #143764;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.signin-btn:hover {
    background-color: #4338ca;
}

/* Main Content */
.main-content {
    height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.main-content h1 {
    font-size: 36px;
    color: #06034e;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 18px;
    color: #555;
    max-width: 600px;
    margin-bottom: 30px;
}

.get-started {
    background-color: #4f46e5;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

.get-started:hover {
    background-color: #4338ca;
}