  /* Navbar */
  .navbar {
    background-color: #ffffff;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.dropbtn i {
    margin-right: 6px;
    color: #143764; /* or inherit */
}

                
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #0045a0;
}

.nav-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Dropdown container */


/* Dropdown button */
.dropbtn {
    background-color: #ffffff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    color: rgb(1, 39, 104);
    padding: 6px 18px;
    font-size: 16px;
    border: black;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    /* push dropdown below the button */
    left: 0;
    background-color: #250000;
    min-width: 160px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    border-radius: 5px;
    overflow: hidden;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #333;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect */
.dropdown-content a:hover {
    background-color: #e0e7ff;
}


.signin-btn {
    background-color: #143764;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.signin-btn:hover {
    background-color: #4338ca;
}